@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap");
body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

body form fieldset.fieldSet {
  border: 0 none transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

body form fieldset.fieldSet legend {
  display: none;
}

body form fieldset div.formRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  min-height: 40px;
  max-width: 540px;
  margin: 0 !important;
  padding: 0 360px 0 0;
}

body form fieldset div.formRow span.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0 .325em 0 0;
  font-weight: 600;
  width: 180px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
}

body form fieldset div.formRow span.label span.requiredField {
  display: none;
}

body form fieldset div.formRow span.validation {
  height: 1em;
  line-height: 1em;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 360px;
  padding-right: 5px;
}

body form fieldset div.formRow input,
body form fieldset div.formRow select,
body form fieldset div.formRow #tokenexIframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .325em;
  color: #555;
  background-color: #fff;
  background-image: none !important;
  border: 1px solid #808080;
  border-radius: .325em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  min-height: 2em;
  min-width: calc(100% - 180px);
  width: 100%;
  max-width: 360px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body form fieldset div.formRow input.dropDown.month, body form fieldset div.formRow input.dropDown.year,
body form fieldset div.formRow select.dropDown.month,
body form fieldset div.formRow select.dropDown.year,
body form fieldset div.formRow #tokenexIframe.dropDown.month,
body form fieldset div.formRow #tokenexIframe.dropDown.year {
  min-width: 175px;
  width: 175px;
  max-width: 175px;
}

body form fieldset div.formRow input.dropDown.month,
body form fieldset div.formRow select.dropDown.month,
body form fieldset div.formRow #tokenexIframe.dropDown.month {
  left: 180px;
}

body form fieldset div.formRow input.error,
body form fieldset div.formRow select.error,
body form fieldset div.formRow #tokenexIframe.error {
  border-radius: .325em;
}

body form fieldset div.formRow br {
  display: none;
}

body form fieldset div.formRow::before {
  content: " ";
  background: #545454;
  height: 40px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

/* @media (max-width: 587px) {
  body form fieldset div.formRow {
    margin: 0 1em 2em !important;
    padding: 0;
    min-height: 80px;
    height: 80px;
    max-height: 80px;
  }
  body form fieldset div.formRow span.label {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1.325em;
    min-height: 2.5em;
    font-size: 18px;
    font-weight: 400;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  body form fieldset div.formRow span.validation {
    right: unset;
    bottom: unset;
    top: 3em;
    padding: 0 0 0 7px;
    left: 0;
  }
  body form fieldset div.formRow input,
  body form fieldset div.formRow select,
  body form fieldset div.formRow #tokenexIframe {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 1em;
    top: unset;
  }
  body form fieldset div.formRow input.dropDown.month, body form fieldset div.formRow input.dropDown.year,
  body form fieldset div.formRow select.dropDown.month,
  body form fieldset div.formRow select.dropDown.year,
  body form fieldset div.formRow #tokenexIframe.dropDown.month,
  body form fieldset div.formRow #tokenexIframe.dropDown.year {
    min-width: calc((100% - 10px) /2);
    width: calc((100% - 10px) /2);
    max-width: calc((100% - 10px) /2);
  }
  body form fieldset div.formRow input.dropDown.month,
  body form fieldset div.formRow select.dropDown.month,
  body form fieldset div.formRow #tokenexIframe.dropDown.month {
    left: 0;
  }
  body form fieldset div.formRow input.dropDown.year,
  body form fieldset div.formRow select.dropDown.year,
  body form fieldset div.formRow #tokenexIframe.dropDown.year {
    right: 0;
  }
  body form fieldset div.formRow::before {
    height: 80px;
  }
} */
/*# sourceMappingURL=nexioiframe.css.map */
